@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,700,900,400italic);
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

* {
  box-sizing: border-box;
}

body {
  background: #fafafa;
  font-family: 'Roboto';
  height: 100%;
  color: #3b3b3b;
}
h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 25px;
  text-align: center;
}
p {
  line-height: 1.2;
  margin-bottom: 10px;
}

.credit {
  margin-left: 20px;
}
.hero-unit {
  margin: 5px auto 0 auto;
  width: 230px;
}

.navigation {
  background-color: #C91167;
  padding: 15px;
}

.logo {
  color: #fff;
  display: block;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.center {
  text-align: center;
}

button {
  background-color: #C91167;
  border: 0;
  padding: 10px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  font-size: 12px;
  margin: 10px;
}

button:hover {
  background-color: #750137;
}

.map-page a {
  color: #fff;
  display: inline-block;
  position: absolute;
  left: 10px;
  top: 17px;
  text-decoration: none;
}

.map-page svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.help a {
  color: #fff;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 17px;
  text-decoration: none;
}

.profile-page img {
  width: 20px;
  height: 20px;
}

.profile-page {
  top: 15px;
  right: 30px;
  position: absolute;
}


.action-button {
  background-color: #C91167;
  border-radius: 50%;
  bottom: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 300;
  height: 50px;
  position: fixed;
  right: 10px;
  text-align: center;
  width: 50px;
}
.plus,
.edit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.edit {
  top: 55%;
}

.edit svg,
.plus svg {
  width: 30px;
  height: 30px;
}

.map {
  display: block;
  height: 100vh;
  width: 100%;
}

.label {
  font-size: 10px;
  text-transform: uppercase;
  border-bottom: 2px solid #C91167;
  display: inline-block;
}

.profile {
  max-width: 300px;
  margin: 0 auto;
  padding: 10px;
}

.images {
  margin: 20px 0;
  text-align: center;
}
.images img {
  width: 100%;
}

.name {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}

.rating {
  text-align: center;
}

.description {
  margin: 5px 0 20px;
  line-height: 1.5;
}

li {
  margin-bottom: 5px;
}

.icon {
  width: 46%;
  float: left;
  text-align: center;
  margin: 2%;
  line-height: 1.2;
  padding: 10px;
  cursor: pointer;
}

.icon.active {
  background: #C91167;
  color: #fff;
}

.icon img {
  width: 100%;
}

#map_container {
  overflow:hidden;
  height:100%;
  width:100%;
}

#gmap_canvas {
  height:100%;
  width:100%;
}

#gmap_canvas img {
  max-width:none!important;
  background:none!important;
}
